body {
  background-color: #2e4a99;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
}

nav {
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

a {
  color: #fff;
}

nav a {
  margin: 10px;
  text-decoration: none;
}

nav a:hover,
a.active {
  text-decoration: underline;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  font-size: 16px;
  padding: 10px;
}

button {
  margin: 5px;
  cursor: pointer;
  border: 2px solid #fff;
  background-color: #2e4a99;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #5788fa;
  transition: background-color 0.2s;
}

#quote-container {
  padding: 10px;
  width: 60%;
}

.quote-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.update-buttons {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.individual-update-buttons {
  display: flex;
  flex-direction: row;
}

.single-quote {
  padding: 10px;
  max-width: 40vw;
}

.single-quote:hover + .update-buttons,
.update-buttons:hover {
  visibility: visible;
  opacity: 1;
}

.quote-text {
  font-style: italic;
}

/* .edit-quote-container {
  display: flex;
  flex-direction: row;
} */

.edit-form {
  display: flex;
  flex-direction: column;
}
